@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap'); /* Importar fuente */


body
{
    font-family: "Raleway",sans-serif; /* */
    margin: 0;  /* */
    background-color: #fafafa;  /* */
}

/* -------------- BARRA NAVEGACION---------------*/
.navegacion
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;    /* Tamaño fuente*/
    font-weight:500;    /* Peso de la letra*/
    height: 40px;       /* Especifica el tamaño del area en donde esta colocado, por ejemplo un div o un padding area */
    background-color: fafafa;   /* */

    margin: 25px;   /* */
    padding:.50rem 0;   /* */

    display: flex;  /* Tipo de cajaÑ Flexbox es un módulo de diseño de CSS3 que se creó para mejorar la forma en la que se hace diseño responsive, evitando así el uso de float, escribiendo menos código y facilitando el posicionamiento de elementos, incluso no teniendo noción del tamaño de éstos. Básicamente la idea de Flexbox es poder alterar el ancho, alto y posicionamiento de elementos de la mejor manera con el espacio del que disponemos. */
    justify-content: flex-end;  /* Empieza a justificar el contenido por el axis final de la flexbox */
    align-items: center;    /* Alinea los elementos hacia el centro*/
}

.navegacion_item
{
    list-style:none;    /* */
    margin-right:2rem;  /* */
}

.navegacion_item a
{
    text-decoration: none;  /* */
    color: black;   /* */
}

.navegacion_item a:hover    /* */
{
    color: rgb(130, 206, 123);  
}

.navegacion_item a:active   /* */
{
    color: rgb(112, 168, 106);
}

.navegacion_item:first-child /* Representa al primer elemento entre un grupo de elementos, en este caso el LOGO */
{
    margin: auto; /* Pegarlo hacia la izquierda del Header*/
    margin-left: 2rem; /* Añadir un poco de espacio desde el lado izquierdo*/
    margin-top: -.5rem;
}

.btn_nav
{
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(130, 206, 123);
    border: none; /*Eliminar efecto boton */
    border-radius: 35px; /*Suavizar bordes */
    padding: .5rem 1rem;
    cursor: pointer; /* Poner manita cuando pase con el cursor */
    margin-right: 2.5rem;
}

.btn_nav:hover /* Pasar cursor */
{
    background-color: rgb(158, 225, 150);

}

.btn_nav:active
{
    background-color: rgb(112, 168, 106);
}
/* --------------BARRA NAVEGACION---------------*/

/* --------------SECCION 1---------------*/

.seccion_1
{
    /* */
    background: linear-gradient(180deg, rgba(158, 225, 150, 0.200) 0%,rgba(158, 225, 150, 0.466) 50%, rgba(37, 136, 26, 0.372) 100%);

    height: 550px;
    display: flex; /* */
    width: 100%;
    align-items: center; /* */
    justify-content: center; /* */

    padding-top: 10px; /* */
    border-radius: 0px;
    
}

.seccion_1 h1
{
    margin-top: 0px;
    font-size: 64px;
    font-weight: bold;
}

.seccion_1 p
{
    
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 225px;
    line-height: 0px;
}
/* --------------SECCION 1---------------*/

/* --------------SECCION 2---------------*/

.seccion_2
{
    background: #fafafa;

    height: 500px;
    display: flex; /* comúnmente llamado flexbox, fue diseñado como un modelo unidimensional de layout, y como un método que pueda ayudar a distribuir el espacio entre los ítems de una interfaz y mejorar las capacidades de alineación.*/
    align-items: center; /* Alinea elementos al centro*/
    justify-content: space-between; /* Ajusta los elementos entre el espacio correspondiente */
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 64px;
    margin-top: 0px;
}

.seccion_2 div
{
    
    height: 450px;
    width: 300px;
}

.seccion_2 img
{
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 35px;
}

.seccion_2 img:hover /* Opacidad al pasar el cursor */
{
    opacity: 70%;
}

.seccion_2 p
{
    font-weight: 400;
    text-align: justify; /* Justificar texto */
}

.seccion_2 h2
{
    margin-top: -5px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
/* --------------SECCION 2---------------*/



/* --------------SECCION 3---------------*/

.seccion_3
{

    height: 500px;
    display: flex;
    width: 92%;
    margin: auto;
    margin-top: 32px;
    padding-top: 0px;;
    border-radius: 35px; /* Borde redondeado*/
}

.seccion_3 div
{
    height: 100%;
    width: 550px;
    margin: auto; /* Ajusta automaticamente */
}

.seccion_3 img
{
    margin: 0 auto; /* Ajusta automaticamente */
    max-height: 100%; /* Altura maxima sera del tamaño del div */
    max-width: 100%;
    border-radius: 35px; 

}

.seccion_3 img:hover
{
    opacity: 70%;
}
/* --------------SECCION 3---------------*/

/* --------------SECCION 4---------------*/
.seccion_4
{
    height: 400px;
    display: flex;
    width: 92%;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;;
    border-radius: 35px;
}

.seccion_4 div
{
    width: 22%;
    margin: auto;
}

.seccion_4 img
{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
}

.seccion_4 figure
{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.seccion_4 img:hover
{
    opacity: 70%;
}

.seccion_4 a
{
    text-decoration: none;
    color: inherit;
}

.seccion_4 figcaption
{
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'raleway',sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
}

.seccion_4 button
{
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(130, 206, 123);
    border: none; /*Eliminar efecto boton */
    outline: none;
    border-radius: 35px; /*Suavizar bordes */
    padding: .5rem 1rem;
    cursor: pointer; /* Poner manita cuando pase con el cursor */
    margin-right: 2.5rem;
}

.seccion_4 button:hover /* Pasar cursor */
{
    background-color: rgb(158, 225, 150);

}

.seccion_4 button:active
{
    background-color: rgb(112, 168, 106);
}

/* --------------SECCION 4---------------*/

/* -------------FOOTER----------------*/

.footer-div {
    font-family: 'raleway', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding:40px 0;
    margin-top: 32px;
    background: linear-gradient(180deg, rgb(46, 46, 46) 0%, rgba(24, 24, 24) 100%); /* Fondo gradiente */
    color:#fafafa;
  }
  
  .footer-div ul {
    display: flex;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:16px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-div li { /* Hace referencia a un LI dentro de la clase .footer-div */
    padding:0 20px;
  }
  
  .footer-div ul a { /* Hace referencia a link, dentro de UL, dentro de la clase .footer-div */
    color:inherit; /* Aparece como si nunca hubiera sido accionado */
    text-decoration:none; /* Quita cualquier tipo de decoracion, como el subrayado */
    opacity:0.8; 
  }
  
  .footer-div ul a:hover { /* Hace referencia a un elemento <a> cuando esta en su accion:hover, este mismo se encuentra dentro de ul en la clase.footer-div  */
    opacity:1;
    color: rgb(130, 206, 123);
  }
  
  
  .footer-div .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fafafa;
    margin-bottom:0;
  }

  /* -------------FOOTER----------------*/

