@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');


body
{
    font-family: "Raleway",sans-serif;
    margin: 0;
    background-color: #fafafa;
}

.navegacion
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight:500;
    height: 40px;
    background-color: fafafa;

    margin: 25px;
    padding:.50rem 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navegacion_item
{
    list-style:none;
    margin-right:2rem;
}

.navegacion_item a
{
    text-decoration: none; 
    color: black;
}

.navegacion_item a:hover
{
    color: rgb(130, 206, 123);
}

.navegacion_item a:active
{
    color: rgb(112, 168, 106);
}

.navegacion_item:first-child /* Representa al primer elemento entre un grupo de elementos, en este caso el LOGO */
{
    margin: auto; /* Pegarlo hacia la izquierda del Header*/
    margin-left: 2rem; /* Añadir un poco de espacio desde el lado izquierdo*/
    margin-top: -.5rem;
}

.btn_nav
{
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(130, 206, 123);
    border: none; /*Eliminar efecto boton */
    outline: none;
    border-radius: 35px; /*Suavizar bordes */
    padding: .5rem 1rem;
    cursor: pointer; /* Poner manita cuando pase con el cursor */
    margin-right: 2.5rem;
}

.btn_nav:hover /* Pasar cursor */
{
    background-color: rgb(158, 225, 150);

}

.btn_nav:active
{
    background-color: rgb(112, 168, 106);
}

/* ----------------------------------------------------------------------------------------------- */

.seccion_1
{
    background: linear-gradient(180deg, rgba(158, 225, 150, 0.200) 0%,rgba(158, 225, 150, 0.466) 50%, rgba(37, 136, 26, 0.372) 100%);

    height: 550px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    border-radius: 0px;
    
}

.seccion_1 h1
{
    margin-top: 0px;
    font-size: 64px;
    font-weight: bold;
}

.seccion_1 p
{
    
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 225px;
    line-height: 0px;
}

/* -----------------------------*/

.seccion_2
{
    background: #fafafa;

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 64px;
    margin-top: 0px;
}

.seccion_2 div
{
    
    height: 450px;
    width: 300px;
}

.seccion_2 img
{
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 35px;

}
.seccion_2 p
{
    font-weight: 400;
    text-align: justify;
}

.seccion_2 h2
{
    margin-top: -5px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}




/* -----------------------------*/

.seccion_3
{

    height: 500px;
    display: flex;
    width: 92%;
    align-items:baseline;
    justify-content:space-be;
    margin: auto;
    padding-top: 0px;;
    border-radius: 35px;
}

.seccion_3 div
{
    height: 100%;
    width: 40%;
    margin: auto;
}

.seccion_3 img
{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
}


/* -------------FOOTER----------------*/

.footer-div {
    font-family: 'raleway', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding:40px 0;
    background: linear-gradient(180deg, rgb(46, 46, 46) 0%, rgba(24, 24, 24) 100%);
    color:#fafafa;
  }
  
  .footer-div ul {
    display: flex;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:16px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-div li {
    padding:0 20px;
  }
  
  .footer-div ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-div ul a:hover {
    opacity:1;
    color: rgb(130, 206, 123);
  }
  
  
  .footer-div .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fafafa;
    margin-bottom:0;
  }

